.parallax-container
  %p#notice= notice
  .parallax
    = parallax_pic(@article)
.section.pink.lighten-5
  .row.container
    %h2.header= @article.title
    %blockquote
      = image_tag("#{@article.user.image}", class: 'circle responsive-img', size: '60x60')
      %p= @article.user.name
    %p.grey-text.text-darken-3.lighten-3
      = raw(@article.content)
    - if can? :manage, :all
      .row.container
        = link_to ('<i class="material-icons left">call_received</i> Back').html_safe, articles_path, class: 'waves-effect waves-light pink darken-3 btn'

        = link_to ('<i class="material-icons">edit</i> Edit Article').html_safe, edit_article_path(@article), 'data-tooltip' => 'Edit Article',
            class: 'btn-floating btn-large tooltipped waves-effect waves-light pink darken-3', 'data-delay' => '50', 'data-position' => 'top'

        = link_to ('<i class="material-icons">delete</i> Delete Article').html_safe, @article, :method => :delete, :data => { :confirm => 'Are you sure?' } , 'data-tooltip' => 'Delete Article',
            class: 'btn-floating btn-large tooltipped waves-effect waves-light red darken-1', 'data-delay' => '50', 'data-position' => 'top'

  .row
    %h2.center-align Comments
    .row
      .container.center-align
        %blockquote
          %p ...While I welcome respectful disagreement, I do not allow cyber bullying or trolling on this website or any of my associated pages.
          %p Homophobic, sexist, racist, victim-blaming and/or otherwise degrading comments that show unnecessary contempt or threatening language
          %p towards others will be removed and repeat offenders will be banned as well as reported. - Ese Walter

    - @comments.each do |comment|
      .container
        .col.s12
          .card-panel.blue-grey.lighten-4.z-depth-1
            .row
              .col.s2
                = image_tag("#{comment.user.image}", class: 'circle responsive-img', size: '60x60')
                %p.truncate= comment.user.name
              .col.s10
                %span.black-text
                  = raw(comment.content)

  .row
    .container
      %ul.collapsible{ 'data-collapsible' => 'accordion' }
        %li
          .collapsible-header.grey.lighten-4
            %i.material-icons comment
            Add Comment
          .collapsible-body
            .container
              = form_for Comment.new do |f|
                = hidden_field(:comment, :article_id, value: @article.id)
                .input-field
                  = f.label :content
                  = f.text_area :content, class: "materialize-textarea", id: 'textarea1'
                %br/
                .actions
                  = button_tag type: "submit", class: "waves-effect waves-light btn" do
                    %i.material-icons.left message
                    Post Comment
            %br/
.parallax-container
  .parallax
    = image_tag('nice2.jpg')
