.container
  %h1 All Newsletters

  - @newsletters.each do |newsletter|
    .col.s12
      = link_to newsletter do
        .card-panel.grey.lighten-5.z-depth-1.hoverable
          .row.valign-wrapper
            %span.black-text
              %blockquote
                = newsletter.title
              %p.truncate.black-text
                = raw(newsletter.content)
              = link_to ('<i class="material-icons right">grade</i>').html_safe, '#!', class: 'secondary-content'
  %br

  - if can? :manage, :all
    .row
      = link_to ('<i class="material-icons">add</i> Create A Newsletter').html_safe, new_newsletter_path, 'data-tooltip' => 'Create A Newsletter',
      class: 'btn-floating btn-large tooltipped waves-effect waves-light pink darken-3', 'data-delay' => '50', 'data-position' => 'top'
