= form_for @tv do |f|
  - if @tv.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tv.errors.count, "error")} prohibited this tv from being saved:"
      %ul
        - @tv.errors.full_messages.each do |msg|
          %li= msg

  .input-field
    = f.label :title
    %span.material-icons.right mode_edit
    = f.text_field :title
  .input-field
    = f.label :description
    %span.material-icons.right mode_edit
    = f.text_area :description, class: "materialize-textarea", id: 'textarea1'
  .input-field
    = f.label :published
    = f.text_field :published, class: 'datepicker'
  .input-field
    = f.label :youtube_url
    %span.material-icons.right mode_edit
    = f.text_field :youtube_url
  .actions
    = button_tag type: "submit", class: "waves-effect waves-light btn" do
      %i.material-icons.right done_all
      Add Video
