.container
  %h1 Femina Speaks TV
  .row
    - @tvs.each do |tv|
      .col.s4
        .card.hoverable
          .card-image
            = link_to image_tag("http://img.youtube.com/vi/#{tv.youtube_url}/mqdefault.jpg", size: "350x250"), tv
            %span.card-title.truncate= tv.title
          .card-content
            %p.truncate= tv.description
          .card-action
            = link_to 'WATCH', tv
            = link_to ('<i class="material-icons">delete</i>  Delete Video').html_safe, new_tv_path, 'data-tooltip' => 'Delete Video',
            class: 'btn-floating btn-large tooltipped waves-effect waves-light blue-grey darken-1', 'data-delay' => '50', 'data-position' => 'top'
  %br

  = link_to ('<i class="material-icons">add</i> Add New Video').html_safe, new_tv_path, 'data-tooltip' => 'Add New Video',
  class: 'btn-floating btn-large tooltipped waves-effect waves-light blue-grey darken-1', 'data-delay' => '50', 'data-position' => 'top'
