.container
  .row
    .col.s12
      %ul.tabs
        %li.tab.col.s4.active
          = link_to(('<i class="mdi-social-person"></i> Introduction').html_safe, "#intro")
        %li.tab.col.s4
          = link_to(('<i class="mdi-social-person"></i> Plans').html_safe, "#plans")
        %li.tab.col.s4
          = link_to(('<i class="mdi-social-person"></i> Group Activities').html_safe, "#group")

    #intro.col.s12
      = render 'intro'
    #plans.col.s12
      = render 'plans'
    #group.col.s12
      = render 'group'
  %br
