.container.center-align
  %h1 Subscription Plans

  .row
    - @categories.each do |category|
      .col.s6
        .card.hoverable
          .card-content
            %table.centered.striped
              %thead
                %tr
                  .a-circle
                    %p= sub_fee_selector(category)
                    = category
              %tbody
                %tr
                  %td Psychotherapy
                  %td <i class="material-icons right">done</i>
                %tr
                  %td Survivors Guide
                  %td <i class="material-icons right">done</i>
                %tr
                  %td One on One Counseling
                  %td <i class="material-icons right">done</i>
                %tr
                  %td Abusers Anonymous
                  %td <i class="material-icons right">done</i>
                %tr
                  %td Private Facebook Group
                  %td <i class="material-icons right">done</i>

            = form_for Subscription.new do
              .input-field
                = hidden_field(:subscription, :sub_category, value: category)
                = hidden_field(:subscription, :sub_fee, value: sub_fee_selector(category))
          .card-action
            .actions
              = button_tag type: "submit", class: "waves-effect waves-light btn" do
                %i.material-icons.right done_all
                Subscribe
