%table.responsive-table.centered
  %thead
    %tr
      %th
        %h5.pink-text.text-darken-4 Femina Speaks Newsletter for Week Ended #{@date}
  %tbody
    %tr
      %td
        %h5.pink-text.text-darken-4= @newsletter.title
    %tr
      %td= raw(@newsletter.content)
    %tr
      %td
        %h4.pink-text.text-darken-4 Posts for the week
    %tr
      - @articles.each do |article|
        %tr
          %td= link_to article.title, @url + "#{article.id}", target: '_blank', class: 'waves-effect waves-light pink darken-3 btn-large'