.container
  %h2.center-align About Femina Speaks
  .row
    .col.s7
      .card
        .card-image.waves-effect.waves-block.waves-light
          = image_tag('support2.jpg', class: 'activator', size: '700x500')
        .card-content
          %span.card-title.activator.grey-text.text-darken-4 Femina Speaks TV
          %i.material-icons.right more_vert
          %p= link_to 'Read More...', '#' , class: 'activator'
        .card-reveal.pink.darken-3
          %blockquote
            %span.card-title.white-text Femina Speaks TV
          %i.material-icons.right close
          %p.white-text Femina Speaks TV is a show where I explore Psychological Abuse, Mental Health Matters, Emotional Intelligence and Authenticity.
          %p.white-text Each video is 5 minutes long and tackles one question about Psychological Abuse, Mental Health Matters, Emotional Intelligence or Authenticity.
          %p.white-text Although I am currently training to become a professional Counselor and Child Psychologist, FSTV videos are for information purposes only and should not replace professional advice and/or medication.
          %p.white-text If you need any help finding a therapist or if you want to connect with other victims and survivors, you can join our #{link_to "support group,", subscriptions_path} by choosing a plan that serves you.

      .card
        .card-image.waves-effect.waves-block.waves-light
          = image_tag('her.jpg', class: 'activator', size: '700x500')
        .card-content
          %span.card-title.activator.grey-text.text-darken-4 Ese Walter
          %i.material-icons.right more_vert
          %p= link_to 'Read More...', '#' , class: 'activator'
        .card-reveal.pink.darken-3
          %blockquote
            %span.card-title.white-text Ese Walter
          %i.material-icons.right close
          %p.white-text I am a humanist. I am passionate about the interests and welfare of human beings especially women and children. I am a wife and a co-sleeping, attachment parenting, badass breastfeeding mum. Since the birth of my son, I have learnt to slow down and pay attention. I consider him my greatest teacher. I am interested in the study of psychological abuse, mental health matters, emotional intelligence and authenticity. I am a qualified attorney with a Masters degree in International Law and Financial Markets. I am currently studying to qualify as a professional Counselor and Child Psychologist.
          %p.white-text After decades of enduring abuse in various forms, I have learned to rise above it all and dare to start living my authentic life. I want to help you do the same.
          %p.white-text How?
          %p.white-text For starters, by creating this platform where I can share my findings, experiences and failures so that you can better understand that your experience is not ​peculiar​ and you too can turn your mess into a message. Ultimately, I want you to have a safe space where you can learn how to free yourself from repetitive abusive patterns, arm yourself with some emotional intelligence, find your authentic voice, and go on to help others do the same.
          %p.white-text My book ​NAKED​ will be published on the 28th of March 2016. That means you can call me an author too ...
          %p.white-text Welcome…

    .col.s5
      .card
        .card-image.waves-effect.waves-block.waves-light
          = image_tag('naked.JPG', class: 'activator', size: '500x1130')
        .card-content
          %span.card-title.activator.grey-text.text-darken-4 Book
          %i.material-icons.right more_vert
          %p= link_to 'Read More...', '#' , class: 'activator'
        .card-reveal.pink.darken-3
          %blockquote
            %span.card-title.white-text Book
          %i.material-icons.right close
          %p.white-text The title of my book is NAKED.
          %p.white-text It is a memoir of three decades of my life and it focuses on my experiences​ with abuse, how it affected my mental health, how I developed emotional intelligence and how I now live an authentic life.
          %p.white-text The book is a sort of how to guide on how you too can rise from any situation and live your authentic life.
          %p.white-text I believe if everyone is empowered to live authentically, the generations after us will not have to struggle as much as some of us did.
          %p.white-text And we will be one step closer to world peace.
