.container
  %h2.center-align About Femina Speaks
  .row
    .col.s7
      .card
        .card-image.waves-effect.waves-block.waves-light
          = image_tag('fstv_hosts.jpg', class: 'activator', size: '700x900')
        .card-content
          %span.card-title.activator.grey-text.text-darken-4 Femina Speaks TV
          %i.material-icons.right more_vert
          %p= link_to 'Read More...', '#' , class: 'activator'
        .card-reveal.pink.darken-3
          %blockquote
            %span.card-title.white-text Femina Speaks TV
          %i.material-icons.right close
          %p.white-text Femina Speaks TV is a show where I explore Psychological Abuse, Mental Health Matters, Emotional Intelligence and Authenticity.
          %p.white-text Each video tackles one question about Psychological Abuse, Mental Health Matters, Emotional Intelligence or Authenticity.
          %p.white-text Although I am currently training to become a professional Counselor and Child Psychologist, FSTV videos are for information purposes only and should not replace professional advice and/or medication.
          %p.white-text Join Faith, Nene, Ufuoma and I as we discuss everything Psychological Abuse, Mental Health Matters, Emotional Intelligence and Authenticity. Each season focuses on one theme with regards to relationships with partners, parents, children, bosses, colleagues and general human interaction. We believe in creating an abuse free world and it starts with an awareness. It starts with Femina Speaks. Let's help you find your voice...
          %p.white-text If you need any help finding a therapist or if you want to connect with other victims and survivors, you can join our #{link_to "support group,", '#'}

      .card
        .card-image.waves-effect.waves-block.waves-light
          = image_tag('Ese.jpg', class: 'activator', size: '700x900')
        .card-content
          %span.card-title.activator.grey-text.text-darken-4 Ese Walter
          %i.material-icons.right more_vert
          %p= link_to 'Read More...', '#' , class: 'activator'
        .card-reveal.pink.darken-3
          %blockquote
            %span.card-title.white-text Ese Walter
          %i.material-icons.right close
          %p.white-text I am a humanist. I am passionate about the interests and welfare of human beings especially women and children. I am a wife and a co-sleeping, attachment parenting, badass breastfeeding mum. Since the birth of my son, I have learnt to slow down and pay attention. I consider him my greatest teacher. I am interested in the study of psychological abuse, mental health matters, emotional intelligence and authenticity. I am a qualified attorney with a Masters degree in International Law and Financial Markets. I am currently studying to qualify as a professional Counselor and Child Psychologist.
          %p.white-text After decades of enduring abuse in various forms, I have learned to rise above it all and dare to start living my authentic life. I want to help you do the same.
          %p.white-text How?
          %p.white-text For starters, by creating this platform where I can share my findings, experiences and failures so that you can better understand that your experience is not ​peculiar​ and you too can turn your mess into a message. Ultimately, I want you to have a safe space where you can learn how to free yourself from repetitive abusive patterns, arm yourself with some emotional intelligence, find your authentic voice, and go on to help others do the same.
          -#%p.white-text My book ​NAKED​ will be published on the 28th of March 2016. That means you can call me an author too ...
          %p.white-text Welcome…
    .col.s5
      .card
        .card-image.waves-effect.waves-block.waves-light
          = image_tag('Lillian.jpg', class: 'activator')
        .card-content
          %span.card-title.activator.grey-text.text-darken-4 Lilian Ugochi Uluocha(Nene)
          %i.material-icons.right more_vert
          %p= link_to 'Read More...', '#' , class: 'activator'
        .card-reveal.pink.darken-3
          %blockquote
            %span.card-title.white-text Lilian Ugochi Uluocha(Nene)
          %i.material-icons.right close
          %p.white-text Lilian is a graduate of the State University of New York, Albany with a Bachelors of Art in Economics. She loves to sing, motivate & inspire other youths. She has a passion for developing Africa especially Nigeria.
          %p.white-text Over the years, she has learnt to appreciate the Nigerian culture and focuses on contributing to nation building.
          %p.white-text Lilian is a Project Manager, a humanitarian, a philanthropist, a motivational speaker and a Giftpreneur, She is the lead Gift consultant of MaisonBlanche, a Luxury gift advisory company that specializes is the supply of timeless gifts and packages.
          %p.white-text She has worked on various dynamic and innovative projects like “Opening Eyes” a project by the Embassy of Israel, Nigeria in partnership with National Hospital, the “First Conference on Black Nationalities”, Wole Soyinka’s “Lion & the Jewel” by an African-Israeli theater group; performed in 4 cities across Nigeria.
          %p.white-text She has also volunteered on notable causes that reduce poverty, promote education, offer medical and legal aid to the less privileged, restore the environment and develop communities. She has volunteered with Global Initiative for Peace Love and Care (GIPLC), Save Africa from Aids (SAFA), Women Who Launch, Yellow Jerrycan Save a Child Lend a Hand (YSL), Occupy Nigeria and Operation Freedom Medical Outreach.
          %p.white-text Presently, she is one of the hosts on Femina Speaks TV and excitedly looking forward to doing her part in building the Nigerian woman and child.
      .card
        .card-image.waves-effect.waves-block.waves-light
          = image_tag('Ufuoma.jpg', class: 'activator')
        .card-content
          %span.card-title.activator.grey-text.text-darken-4 Ufuoma 'UU' Umusu
          %i.material-icons.right more_vert
          %p= link_to 'Read More...', '#' , class: 'activator'
        .card-reveal.pink.darken-3
          %blockquote
            %span.card-title.white-text Ufuoma 'UU' Umusu
          %i.material-icons.right close
          %p.white-text Ufuoma 'UU' Umusu is a graduate of English and Literary Studies from the University of Port Harcourt. She has professional certifications from Lagos Business School, Pan Atlantic School of Media and Communications in Media Enterprise, and Screenwriting for TV, Film and New Media.
          %p.white-text She is an Actress, Television Presenter, Model, Image Consultant, Events promoter, and Venue Stylist. She has been a red carpet host at the City People Fashion and Style Awards.
          %p.white-text Her Image consulting and event management practice includes working for various Nigerian and foreign based companies in the fashion, design, beauty and lifestyle sectors. She has carved a niche for working with Nigerians in the diaspora who have headed back home to create sustainable businesses to fill up the Nigerian employment gap.
          %p.white-text Her company (Ufuoma Umusu Nigeria Ltd) manages communication strategies in the areas of branding, editorial, social media and press releases. She is the 'Editor-In-Chic' of www.uunista.com and currently a post graduate student majoring in Media and Communication studies.
          %p.white-text In 2013 She was a guest on the Femina Speaks Radio show with Ese Walter when the show debuted at the Love FM Studios, Abuja. She is currently one of the hosts at Femina Speaks TV.
          %p.white-text Connect with Ufuoma 'UU' Umusu :
          %p.white-text www.uunista.com, uunista@gmail.com, events@abujaweddingplanner.com(event coordination and planning).
      .card
        .card-image.waves-effect.waves-block.waves-light
          = image_tag('Faith.jpg', class: 'activator', size: '700x500')
        .card-content
          %span.card-title.activator.grey-text.text-darken-4 Faith Onyebujoh
          %i.material-icons.right more_vert
          %p= link_to 'Read More...', '#' , class: 'activator'
        .card-reveal.pink.darken-3
          %blockquote
            %span.card-title.white-text Faith Onyebujoh
          %i.material-icons.right close
          %p.white-text Awarded the most outstanding youth in media and journalism by the NIGERIA Youth Merit Award in partnership with United Nations Youth Association and World Association of Youth, Faith was also acknowledged and given the "True Diva" award by the Men's Room publication.
          %p.white-text Popularly known as Faithelicious, she was born on the 25th of May and hails from delta state in Nigeria. She is a graduate of Geography and remote sensing from the Federal University of Technology Minna.
          %p.white-text Her principle in life is simplicity and decency. She loves swimming, watching movies, reading, meeting people and likes to believe the best in people. She loves music and is a great dancer.
          %p.white-text Having handled the love zone and the request show on Cool FM and for a brief period the midday dialogue on Nigeria Info in Lagos, she also co-produced the Enugu version "Wetin Dey" program of BBC World Service Trust.
          %p.white-text She has interviewed celebrities, politicians, entrepreneurs and professionals in various fields and this has helped her build strong speaking and communications skills.
          %p.white-text Ese had her first radio experience on her show where she was her regular guest on the women’s show called "Girl Talk."
          %p.white-text Faith is a breath of fresh air with a friendly smile, a lovely voice and a swell personality. She is currently one of the hosts of Femina Speaks TV and looking forward to joining other women in moving humanity forward.
          %p.white-text CONTACT FAITH:
          %p.white-text Twitter: @faithelicious
          %p.white-text Facebook: Faith Onyebujoh.
          %p.white-text Blog; www.memoirsofasoulsista.wordpress.com
      -#.card
      -#  .card-image.waves-effect.waves-block.waves-light
      -#    = image_tag('naked.JPG', class: 'activator', size: '500x1130')
      -#  .card-content
      -#    %span.card-title.activator.grey-text.text-darken-4 Book
      -#    %i.material-icons.right more_vert
      -#    %p= link_to 'Read More...', '#' , class: 'activator'
      -#  .card-reveal.pink.darken-3
      -#    %blockquote
      -#      %span.card-title.white-text Book
      -#    %i.material-icons.right close
      -#    %p.white-text The title of my book is NAKED.
      -#    %p.white-text It is a memoir of three decades of my life and it focuses on my experiences​ with abuse, how it affected my mental health, how I developed emotional intelligence and how I now live an authentic life.
      -#    %p.white-text The book is a sort of how to guide on how you too can rise from any situation and live your authentic life.
      -#    %p.white-text I believe if everyone is empowered to live authentically, the generations after us will not have to struggle as much as some of us did.
      -#    %p.white-text And we will be one step closer to world peace.
