%hmtl
  %head
    %link{ href:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css", rel:"stylesheet"}
    %link{ href:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js" }
    %link{href:'http://fonts.googleapis.com/css?family=Lato', rel:'stylesheet', type:'text/css'}
  %body
    .pink.lighten-5.container{style:"font-family: 'Lato', sans-serif; font-style: italic"}
      .page-footer.blue.lighten-3.center-align
        .footer-copyright
          %br/
          .row.center-align
            .col.s3
              = link_to image_tag(attachments["femina.png"].url, size: '100x100', class: "responsive-img"), 'https://www.esewalter.com', target: '_blank'
            .col.s9
              %h4 Femina Speaks
          %br/
      .container.center-align
        = yield
      .footer1.pink.darken-4.page-footer.center-align
        .footer-copyright
          %br/
          = link_to image_tag(attachments["facebook.png"].url, size: '100x100', class: "responsive-img"), 'www.facebook.com/feminaspeaks', target: '_blank'
          = link_to image_tag(attachments["google_buzz.png"].url, size: '100x100', class: "responsive-img"), 'https://plus.google.com/u/0/104752023137288517196/about', target: '_blank'
          = link_to image_tag(attachments["twitter.png"].url, size: '100x100', class: "responsive-img"), 'https://twitter.com/kendrickzma', target: '_blank'
          %br/
          %h6.white-text Copyright © 2015 Femina Speaks Media, All rights reserved.
          %br/

